**/*.qsf
**/*.qws
**/*.qwt
**/db/
**/incremental_db/**
**/output_files/
**/simulation/
**/synthesis/
**/synth_*/
**/*.v.bak
**/*.tmp
**/*.rpt
**/*.jdi
**/*.map
**/*.smsg
**/*.summary
**/*.done
**/*.qws